@font-face {
  font-family: "InterBold";
  src: url(../../assets/fonts/Inter_24pt-Bold.ttf);
}

.image_map {
  margin: 0;
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image_map::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/images/image_map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: 0;
}

.map_button {
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: InterBold, sans-serif;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  box-shadow: 2.5px 3px 2.5px #000;
  background: linear-gradient(to right, #21a89a, #7cd858);
  text-decoration: transparent;
  color: black;
}

@media (min-width: 768px) {
  .image_map {
    height: 400px;
  }

  .map_button {
    padding: 0.7rem 2.5rem;
    box-shadow: 4px 4px 4px #000;
    font-size: large;
  }
}
