@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_24pt-Bold.ttf") format("ttf");
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(270deg, #7cd858 1.35%, #21a89a 101.35%);
  z-index: 0;
}

.navbar ul {
  display: none;
  gap: 20px;
}

.navbar li a {
  color: white;
  text-decoration-color: transparent;
}

.logo {
  height: 70px;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar-right {
  font-size: 1em;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-avatar-navBar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.navBar-button {
  text-align: center;
}

.logout-button {
  border-radius: 5px;
  padding: 2px;
  color: black;
  text-decoration-color: transparent;
}

.logout-link {
  color: black;
  text-decoration-color: transparent;
}

@media screen and (max-width: 767px) {
  .user-name-navBar {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 20px;
    color: white;
    font-weight: bold;
  }

  .logo {
    height: 110px;
    margin: 0 auto;
    margin-top: 10px;
    z-index: 1;
  }
}
